# sexcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.sexcoin
host=127.0.0.1
port=9560

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=3013000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=face6969
genesis=f42b9553085a1af63d659d3907a42c3a0052bbfa2693d3acf990af85755f2279
input=/home/example/.sexcoin/blocks

# testnet
#netmagic=face9696
#genesis=4966625a4b2851d9fdee139e56211a0d88575f59ed816ff5e6a63deb4e3e29a0
#input=/home/example/.sexcoin/testnet3/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
